<div class="flex items-start p-6 bg-gray-50 my-5">
    <div class="flex-1 max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl ">
        <div class="flex flex-col md:flex-row justify-content-between">
            <div class="h-32 md:h-auto md:w-1/2">
                <img aria-hidden="true" class="object-cover w-full h-full " src="/users/img/discount-animate.svg"
                    alt="Office" />
            </div>
            <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
                <form action="/admin/add-coupon" method="post" enctype="multipart/form-data" style="width:100%">
                    <div class="w-full">
                        {{#if categoryErr}}
                        <div class="alert alert-danger text-center">
                            <strong>Category already exists!</strong>
                        </div>
                        {{/if}}
                        <h1 class="mb-4 text-xl font-semibold text-gray-700">
                            Add Coupon
                        </h1>
                        <label class="block text-sm pb-3">
                            <span class="text-gray-700">Enter the Coupon code</span>
                            <input
                                class="block w-full mt-1 text-sm  focus:border-purple-400 focus:outline-none focus:shadow-outline-purple form-input"
                                placeholder="Coupon code" name="coupon" required/>
                        </label>
                        <label class="block text-sm pb-3">
                            <span class="text-gray-700">Enter Discount(%)</span>
                            <input
                                class="block w-full mt-1 text-sm  focus:border-purple-400 focus:outline-none focus:shadow-outline-purple form-input"
                                placeholder="Discount(%)" name="offer" required/>
                        </label>

                        <div class="d-flex align-items-center gap-4 pb-3">
                            <label class="text-gray-700 dark:text-gray-400">Validity Start Date:</label>
                            <input
                                class="form-controlblock mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                type="date" name="starting" id="starting" style="cursor: pointer" required />
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <label class="text-gray-700 dark:text-gray-400">Validity Expiry Date:</label>
                            <input
                                class="form-controlblock mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                type="date" name="expiry" id="expiry" style="cursor: pointer" required />
                        </div>
                        <!-- You should use a button here, as the anchor is only used for the example  -->
                        <button
                            class=" mt-4 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                            type="submit">
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>