<style>
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        /* set the height of the container to the viewport height for full-screen display */
    }

    .image-container img {
        max-width: 100%;
        /* make sure the image doesn't overflow the container */
        max-height: 80%;
        /* make sure the image doesn't overflow the container */
    }
</style>

<div class="image-container">
    <img src="/users/img/errorPage.svg" alt="error-page">
</div>